.place__image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  display: grid;
}

.place__image1 {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin-bottom: 40px;
  margin-right: 50px;
  float: left;
  margin-top: 8px;
}

.place1 {
  padding-bottom: 20px;
}
