.page {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px;
  background-image: url(../images/IMG_20201217_150841911_2.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .header {padding: 16px 16px 48px 16px;}
}

.header__title {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  min-width: 980px;
  padding-bottom: 50px;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .header__title {
    min-width: calc(90vw);}
}

@media screen and (max-width: 500px) {
  .header__title {
    padding-bottom: 20px;}
}

.header__intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 625px) {
.header__intro {
  flex-direction: column;
  align-items: center;}
}

.header__avatar-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 50px;
  box-shadow: inset 0 0 5px;
  object-fit: contain;
}

@media screen and (max-width: 450px) {
  .header__avatar-image {
  margin: 40px 40px 20px 40px;}
}

.header__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
}

@media screen and (max-width: 625px) {
  .header__profile-info {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;}
}

.header__username {
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (max-width: 625px) {
  .header__username {
    align-self: center;
    line-height: 32px;
    font-size: 28px;
    padding-bottom: 20px;}
}

@media screen and (max-width: 400px) {
  .header__username {
    line-height: 28px;
    font-size: 26px;}
}

.header__subtitle {
  line-height: 32px;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  max-height: 200px;
  max-width: 720px;
}

@media screen and (max-width: 625px) {
  .header__subtitle {
    align-self: center;
    text-align: center;
    line-height: 24px;
    font-size: 20px;}
}

@media screen and (max-width: 625px) {
  .header__subtitle {
    line-height: 24px;
    font-size: 20px;}
}

.header__link {
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  max-height: 72px;
  max-width: 640px;
  cursor: pointer;
  text-align: left;
  padding-left: 50px;
}

@media screen and (max-width: 690px) {
  .header__link {
    line-height: 26px;
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .header__link {
    line-height: 22px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
  }
}

.header__link:hover {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news {
  padding-top: 12px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.news__article {
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #f7f7f733 0px 200px, #ffffff 300px);
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
}

@media screen and (max-width: 760px) {
  .news__article {
    padding-left: 20px;}
}

@media screen and (max-width: 360px) {
  .news__article {
    padding-left: 10px;
  padding-right: 10px;}
}

.news__intro-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .news__intro-container {
    flex-direction: column;}
}

.news__theme {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  padding-top: 32px;
  line-height: 100%;
}

@media screen and (max-width: 660px) {
  .news__theme {
    font-size: 32px;
    padding-top: 22px;}
}

@media screen and (max-width: 340px) {
  .news__theme {
    font-size: 24px;}
}

.news__info {
  margin: 0;
}

.news__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 20px;
}

.news__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .news__paragraph {
  font-size: 16px;}
}

.news__image1 {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin-bottom: 40px;
  margin-right: 50px;
  float: left;
  margin-top: 8px;
}

@media screen and (max-width: 760px) {
  .news__image1 {
    margin-bottom: 20px;
    margin-right: 20px;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .news__image1 {
    margin-bottom: 20px;
    margin-right: 0;
    width: 290px;
    height: 290px;
  }
}

.news__theme1 {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  padding-bottom: 22px;
  padding-top: 6px;
  line-height: 100%;
  align-self: flex-end;
}

.news__date {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 30px;
  color: #601903;
}

.news__date1 {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 30px;
  min-width: 370px;
  align-self: flex-start;
  color: #601903;
}

.news__date2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 45px;
  margin: 0;
  background-color: white;
  position: absolute;
  top: 300px;
  min-width: 320px;
  text-align: center;
  color: #601903;
}

@media screen and (max-width: 500px) {
  .news__date1 {
    min-width: 70px;;}
}

@media screen and (max-width: 500px) {
  .news__date2 {
    min-width: 290px;
    top: 270px;}
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 48px 24px 48px;
  margin: 0 auto;
  background-color: rgb(199, 199, 199);
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 14px 14px 24px;;}
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  padding-left: 10px;
}

.footer__link {
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 8px;
  max-height: 72px;
  max-width: 840px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .footer__link {
    line-height: 20px;
  font-size: 16px;}
}

/*
.place__website-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website-link:hover {
  opacity: 0.8;
}
*/
