.page {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1090px) {
  .header {padding: 16px 16px 48px 16px;}
}

.header__title {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  min-width: 980px;
  padding-bottom: 50px;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .header__title {
    min-width: calc(90vw);}
}

@media screen and (max-width: 500px) {
  .header__title {
    padding-bottom: 20px;}
}

.header__intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 625px) {
.header__intro {
  flex-direction: column;
  align-items: center;}
}

.header__avatar-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 50px;
  box-shadow: inset 0 0 5px;
  object-fit: contain;
}

@media screen and (max-width: 450px) {
  .header__avatar-image {
  margin: 40px 40px 20px 40px;}
}

.header__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px 15px 30px 10px;
  max-width: 500px;
}

@media screen and (max-width: 625px) {
  .header__profile-info {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;}
}

.header__username {
  margin: 0;
  line-height: 32px;
  font-size: 28px;
  font-weight: 900;
}

@media screen and (max-width: 625px) {
  .header__username {
    align-self: center;
    line-height: 32px;
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;}
}

@media screen and (max-width: 400px) {
  .header__username {
    line-height: 28px;
    font-size: 24px;}
}

.header__subtitle {
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  max-height: 200px;
  max-width: 720px;
  padding-bottom: 10px;
}

.header__block:last-child {
  padding-bottom: 0px;
}

@media screen and (max-width: 625px) {
  .header__subtitle {
    align-self: center;
    text-align: center;
    line-height: 22px;
    font-size: 18px;}
}

@media screen and (max-width: 625px) {
  .header__subtitle {
    line-height: 22px;
    font-size: 18px;}
}

.header__links {
  align-self: center;
  list-style: none;
  border-top: 1px solid #ddd;
  padding: 20px 30px 0px 30px;
  margin: 0;
}

.header__link {
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  max-height: 72px;
  max-width: 640px;
  cursor: pointer;
  text-align: left;
  padding-bottom: 20px;
  text-decoration: none;
  color: #282828;
}

.header__link:last-child {
  padding-bottom: 0px;
}

.header__link:hover {
  opacity: 0.5;
transition: opacity 0.5s ease-in 0.1s;
}

@media screen and (max-width: 690px) {
  .header__link {
    line-height: 26px;
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .header__link {
    line-height: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;
  }
}

.header__link:hover {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news {
  padding-top: 12px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.news__article1 {
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #f7f7f733 0px 200px, #ffffff 300px);
  padding-left: 50px;
  padding-right: 20px;
  display: grid;
  gap: 20px 0px;
  grid-template-columns: min-content minmax(min-content, 600px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}

.news__article-1 {
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #f7f7f733 0px 200px, #ffffff 300px);
  padding-left: 50px;
  padding-right: 20px;
  display: grid;
  gap: 20px 0px;
  grid-template-columns: minmax(min-content, 1200px) minmax(min-content, 150px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}


@media screen and (max-width: 650px) {
  .news__article1 {
    grid-template-columns: 1fr;
    gap: 20px 0px;}
}

@media screen and (max-width: 800px) {
  .news__article1 {
    padding-left: 20px;}
}

@media screen and (max-width: 360px) {
  .news__article1 {
    padding-left: 10px;
    padding-right: 10px;}
}

@media screen and (max-width: 325px) {
  .news__article1 {
    padding-left: 8px;
    padding-right: 8px;}
}

@media screen and (max-width: 800px) {
  .news__article-1 {
    padding-left: 20px;}
}

@media screen and (max-width: 650px) {
  .news__article-1 {
    display: flex;
    flex-direction: column;
    gap: 0;}
}

@media screen and (max-width: 360px) {
  .news__article-1 {
    padding-left: 10px;
    padding-right: 10px;}
}

@media screen and (max-width: 325px) {
  .news__article-1 {
    padding-left: 8px;
    padding-right: 8px;}
}

.news__article {
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #f7f7f733 0px 200px, #ffffff 300px);
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
}

@media screen and (max-width: 760px) {
  .news__article {
    padding-left: 20px;}
}

@media screen and (max-width: 360px) {
  .news__article {
    padding-left: 10px;
  padding-right: 10px;}
}

@media screen and (max-width: 325px) {
  .news__article {
    padding-left: 8px;
  padding-right: 8px;}
}

.news__short-line {
  width: 300px;
  height: 1px;
  border-bottom: solid 1px #d7d7d7;
  align-self: center;
}

.news__intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #d7d7d7;
}

.news__intro-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .news__intro-container {
    flex-direction: column;}
}

.news__intro-container1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  float: left;
}

@media screen and (max-width: 800px) {
  .news__intro-container1 {
    flex-direction: column;}
}

@media screen and (max-width: 600px) {
  .news__intro-container1 {
    float: none;}
}

.news__theme {
  color: #1b1b1b;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  padding-top: 32px;
  line-height: 100%;
}

@media screen and (max-width: 660px) {
  .news__theme {
    font-size: 30px;
    padding-top: 0;}
}

@media screen and (max-width: 340px) {
  .news__theme {
    font-size: 22px;}
}

.news__theme-2 {
  color: #1b1b1b;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  padding-top: 12px;
  line-height: 100%;
}

@media screen and (max-width: 660px) {
  .news__theme-2 {
    font-size: 30px;
    padding-top: 12px;}
}

@media screen and (max-width: 340px) {
  .news__theme-2 {
    font-size: 20px;}
}

.news__info {
  margin: 0;
}

.news__info1 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.news__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 20px;
}

.news__paragraph1:first-of-type {
  padding-top: 25px;
}

@media screen and (max-width: 1023px) {
  .news__paragraph {
  font-size: 14px;}
}

.news__image {
  max-width: 320px;
  max-height: 320px;
  object-fit: contain;
  float: left;
  margin-top: 8px;
  object-position: left;
}

@media screen and (max-width: 500px) {
  .news__image {
    max-width: 280px;
    max-height: 280px;
  }
}

.news__image1 {
  max-width: 320px;
  max-height: 320px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-right: 40px;
  float: left;
  margin-top: 8px;
  object-position: left;
}

@media screen and (max-width: 600px) {
  .news__image1 {
    margin-bottom: 15px;
    margin-right: 20px;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .news__image1 {
    margin-bottom: 15px;
    margin-right: 0;
    max-width: 280px;
    max-height: 280px;
  }
}

.news__title-container {
  display: flex;
  flex-direction: column;
}

.news__theme1 {
  color: #1b1b1b;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 6px;
  line-height: 100%;
}

.news__theme2 {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 16px;
  line-height: 100%;
}

.news__theme4 {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 16px;
  line-height: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.news__theme3 {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 16px;
  line-height: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.news__theme2-1 {
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .news__theme2 {
    align-self: flex-start;
    padding-top: 6px;
  }
}

.news__calendar-icon {
  width: 28px;
  height: 28px;
  padding-right: 10px;
  align-self: center;
  object-fit: contain;
}

.news__date {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding-top: 6px;
  align-self: flex-end;
  color: #cb3d1d;
  padding-bottom: 18px;
  display: flex;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .news__date {
    align-self: flex-start;}
}

@media screen and (max-width: 500px) {
  .news__date {
    min-width: 70px;
  }
}

.news__date0 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding-top: 30px;
  align-self: flex-start;
  margin-top: 32px;
  color: #cb3d1d;
  padding-bottom: 22px;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
}

.news__date1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #cb3d1d;
  padding-bottom: 10px;
  display: flex;
  align-self: flex-start;
  padding-top: 10px;
}

@media screen and (max-width: 800px) {
  .news__date1 {
    align-self: flex-start;
  }
}

.news__date2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  margin: 0;
  background-color: white;
  position: absolute;
  bottom: calc(15%);
  min-width: calc(100% - 40px);
  text-align: center;
  color: #cb3d1d;
}

@media screen and (max-width: 800px) {
  .news__date2 {
  min-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .news__date2 {
    text-align: left;
    padding-left: 10px;}
}

.news__date3 {
  align-self: flex-start;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding-top: 20px;
  color: #cb3d1d;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .news__date3 {
    align-self: flex-start;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 48px 24px 48px;
  margin: 0 auto;
  background-color: rgb(199, 199, 199);
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 14px 30px 24px;;}
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 840px;
  padding-left: 10px;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .footer-wrap {
    flex-direction: column;}
}

.footer__link {
  line-height: 36px;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  min-width: 220px;
}

.footer__link1 {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  display: flex;
  padding-bottom: 20px;
  transition: transform .9s ease-in-out;
}

.footer__link:hover .footer__link1 {
  transform: scale(1.05);
  overflow: hidden;
  }

  .footer__link:hover .ooter__link1::after {
animation: countdown 2s linear 1 forwards;
}

.footer__link:hover .footer__link1 {opacity: 0.5;}

@media screen and (max-width: 700px) {
  .footer__link {
    line-height: 32px;
    font-size: 30px;}
}

.footer__social-icon {
  width: 36px;
  height: 36px;
  padding-right: 20px;
  align-self: center;
}

